
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Noto+Sans+JP:wght@400;500;700&family=Sofia+Sans:ital,wght@0,400;0,600;1,100&display=swap');

.index {
  width: 100%;
  height: 100%;
}

.body{
  width: 100%;
  height: 100%;
}

.container{
  width: 1000px;
  height: 700px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.first {
  height: 98%;
  width: 63%;
  padding-left: 2%;
}

.second {
  height: 96.5%;
  width: 33%;
  background-color: #f2f2f2; 
  text-align: left;
  padding-left: 2%;
  color: rgb(24, 2, 81);
}

.header{
  width: 80%;
  margin-left: 10%;
  height: auto;
 /* border-bottom: 1px solid antiquewhite; */
  padding-top: 1%;
  color: antiquewhite;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Climate Crisis', Arial, Helvetica, sans-serif;
}

.headbox {
  /* background: linear-gradient(217deg, rgba(232, 210, 210, 0.8), rgba(135, 98, 98, 0) 70.71%),
  linear-gradient(127deg, rgba(131, 157, 131, 0.8), rgba(124, 144, 149, 0) 70.71%), 
  linear-gradient(336deg, rgba(187, 187, 236, 0.8), rgba(165, 165, 245, 0) 70.71%); */
  background-color: #f2f2f2;
  width: 100%;
}

.daylight:hover {
  color: burlywood;
}

.subheader {
  display: inline-flex !important;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin-top: 2%;
  text-align: center;
  width: 70%;
  padding-left: 13.5%;
}

.headunit {
  margin-right: 3%;
}

.headunit:hover {
  color: burlywood;
  cursor: pointer;
}

.foot {
  margin-top: 5%;
  display: inline-flex;
  padding-top: 3%;
  margin-left: 48%;
}

.icon {
  margin-right: 10px;
}

.scale {
width: 100%;
height: auto;
padding-left: 25%;
padding-top: 3%;
}

.label {
  font-weight: 600;
  font-family: 'Climate Crisis', Arial, Helvetica, sans-serif;
}

.textbody {
  font-family: 'input-mono-compressed', monospace;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  @media only screen and (max-width: 480px){

    .splash {
      width: 75%;
      height: 35%;
      object-fit: cover;
    }

    .scale{
      padding-left: 12%;
      padding-top: 2%;
    }

    .container {
      width: 550px;
      height: 400px;
      margin-left: 5%;
    }

    .image {
      height: 100%;
      width: 90%;
      object-fit: fit;
    }

    .second {
      height: 97.5%;
      width: 25%;
      background-color: rgb(244, 207, 174);
    }

    .daylight{ 
      width: 100%;
      height: auto;
      font-size: .75em;
    }

    .headunit {
      font-size: 1.5rem;

    }
    .subheader {
      margin-left: 15%;
    }

    .header {
      margin-left: 5%;
      text-align: center;
    }

    .second{
      display: none;
    }
  }
}
