
.contacttext{
    text-align: center;
    font-family: 'Climate Crisis', Arial, Helvetica, sans-serif;;
    font-size: 1.2em;
    font-weight: 600;
}

.contactbox {
    text-align: center;
    width: 100%;
}

.contactheader {
    font-family: 'Climate Crisis', Arial, Helvetica, sans-serif;
    font-size: 2em;
    
}

.infoheader {
    text-align: center;
    font-family: 'Climate Crisis', Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.subheadtext {
    text-align: center;
    font-family: 'Cliate Crisis', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

.infobox {
    width: 100%;
    height: auto;
    color: #333;
    border-bottom:2px solid antiquewhite;
  }

  .infotext {
    font-family: 'input-mono-compressed', monospace;
    padding: 5%;
    
  }

@media only screen and (max-width:600px) {
    @media only screen and (max-width: 480px){
        .contactbox {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: 15%;
            width: 100%;
        }

        .infobox {
            padding-left: 12%;
        }
     }
}